<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://static.nongfenqi.net/hades/prod/css/viewer.min.css"/>
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/antd/2.4.3/antd.min.css"/>-->
    <link rel="stylesheet" href="https://static.nongfenqi.net/wizard/prod/css/wizard.1.5.0.css"/>
</head>
<body>
<div id="app"></div>
</body>
</html>
