@font-face {
    font-family: 'iconfont';  /* project id 515216 */
    src: url('//at.alicdn.com/t/font_515216_rxex0qis9mx3whfr.eot');
    src: url('//at.alicdn.com/t/font_515216_rxex0qis9mx3whfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_515216_rxex0qis9mx3whfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_515216_rxex0qis9mx3whfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_515216_rxex0qis9mx3whfr.svg#iconfont') format('svg');
  }
  

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
 
  
.components-layout-demo-custom-trigger{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    .article-iframe-header{
        padding-top: 20px;
        padding: 10px;
        margin:20px 32px;
        border-bottom: 2px solid #fff;
    }
}
.components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}
  
.components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

.components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.contanier {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Roboto", Arial, serif;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
    padding-top: 3em;
    padding-bottom: 5em;
}

.contanier a{
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.header-navbar {
    padding-bottom: 3em;
    
}

.header-navbar .header-logo {
    position: relative;
    font-size: 56px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.header-navbar .header-logo:after {
    position: absolute;
    bottom: 13px;
    right: -14px;
    width: 12px;
    height: 12px;
    background: #F03861;
    content: ''
}
 .main-nav >ul {
    padding: 0;
    margin: 0;
}

.main-nav >ul li:first-child {
    margin-left: 0;
}

.main-nav >ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    font-size: 21px;
}

.main-nav >ul li a {
    padding-bottom: 5px;
    color: #000;
    position: relative;
    font-weight: 400;
}

.main-nav >ul li a.active:before {
    position: absolute;
    width: 7px;
    height: 7px;
    content: '';
    top: -5px;
    right: -7px;
    background: #F03861;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.image-popup img{
    display: block;
    width: 100%;
}

.article-menu-item{
    font-size: 15px;
}

.article-menu-icon{
    display: inline-block;
    width: 30px;
}

.title-search{
    padding:10px;
    border-bottom: 1px solid #ddd;
}
  

.article-list {
    .ant-list-split .ant-list-item{
        padding-left: 10px;
        cursor: pointer;
    }
}

// 登录
.login-container{
    display: flex;
    justify-content: center;
    height: 100%;
    form {
        width: 30%;
        margin-top: 10%;
    }
    .login-title{
        text-align: center;
        font-size: 18px;
        margin: 40px 0;
    }
    .login-form-forgot{
        float: right;
    }
    .login-form-button{
        width: 100%;
    }
}

.wangeditor {
    .w-e-text-container{
        height: 200px !important;
    }
}
  
.about-container{
    .ant-timeline-item-tail{
        left: 8px;
    }
    .ant-timeline{
        margin: 0 20%;
    }
    .ant-timeline-item-head{
        width: 20px;
        height: 20px;
    }
    .ant-timeline-item-head-blue{
        border-color: #fff;
    }
    .ant-timeline-item-content{
        color: #fff;
        font-size: 18px;
    }
    .ant-timeline-item {
        padding:0 0 40px;
    }
    // 激活状态
    // .ant-timeline-item:nth-child(even) .ant-timeline-item-head{
    //     background-color: #000;
    // }
    .overlay{
        height: auto;
    }
    .active .ant-timeline-item-head{
        width:30px;
        height: 30px;
        background-color: #000;
    }

    .ant-carousel .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        overflow: hidden;
    }
      
    .ant-carousel .slick-slide h3 {
        color: #000;
    }
      
}

.about-container {
    .ant-card{
        text-align: center;
        height: 260px;
        overflow: hidden;
    }
    .ant-card-meta-detail{
        margin-bottom: 26px;
    }
    .ant-card-cover{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .ant-card-cover>img{
        width: 100%;
        height: 159px;
        transition: 0.4s;
        -moz-transition: 0.4s; 
        -webkit-transition: 0.4s;
        -o-transition: 0.4s; 
    }
    .ant-card:hover{
        .ant-card-cover>img{
            width: 40%;
            height: 80px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
        }
    }
}